@use "@mendix/argentum-theme-radix/themesource/_theme-radix";

.sb-show-main.sb-main-padded {
    margin: 0;
    padding: 0;
}

:where(.sb-show-main, .sbdocs) .auk-viewport {
    // height: unset;
    padding: 30px 20px;
    overflow: auto;
}

.sbdocs-preview .auk-viewport {
    height: unset;
}

html {
    height: 100%;
}

.storybackdrop {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: var(--color-page-background);
}

.variants {
    text-align: left;
    td,
    th {
        padding: var(--space-2);
    }
    th {
        font-size: 16px;
    }
}
