.ag-Checkbox {
    --focus-ring-color: var(--cyan-8);
    --selected-color: var(--cyan-9);
    --selected-color-pressed: var(--cyan-8);
    --checkmark-color: white;
    --border-color: var(--gray-a7);
    --border-color-pressed: var(--gray-7);

    display: flex;
    align-items: center;
    gap: var(--space-2);
    font-size: 1.143rem;
    forced-color-adjust: none;
    cursor: var(--cursor-checkbox);

    &[data-pressed] .ag-CheckboxIndicator {
        border-color: var(--border-color-pressed);
    }

    &[data-focus-visible] .ag-CheckboxIndicator {
        outline: 2px solid var(--focus-ring-color);
        outline-offset: 2px;
    }

    &[data-selected],
    &[data-indeterminate] {
        .ag-CheckboxIndicator {
            border-color: var(--selected-color);
            background: var(--selected-color);
        }

        &[data-pressed] .ag-CheckboxIndicator {
            border-color: var(--selected-color-pressed);
            background: var(--selected-color-pressed);
        }

        svg {
            stroke-dashoffset: 44;
        }
    }

    &[data-indeterminate] {
        svg {
            stroke: none;
            fill: var(--checkmark-color);
            rect {
                display: initial;
            }
            polyline {
                display: none;
            }
        }
    }
}

.ag-CheckboxIndicator {
    --animation-t: 250ms;
    aspect-ratio: 1 / 1;
    width: var(--checkbox-size, 1.15rem);
    height: var(--checkbox-size, 1.15rem);
    border: 2px solid var(--gray-6);
    transition: all var(--animation-t), outline 0ms, outline-offset 0ms;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: var(--checkbox-indicator-size, 0.9rem);
        height: var(--checkbox-indicator-size, 0.9rem);
        fill: none;
        stroke: var(--checkmark-color);
        stroke-width: 3px;
        stroke-dasharray: 22px;
        stroke-dashoffset: 66;
        transition: all var(--animation-t);
        :where(rect) {
            display: none;
        }
    }
}

// Sizes
.ag-Checkbox {
    &:where(.size-1) .ag-CheckboxIndicator {
        --checkbox-size: calc(var(--space-4) * 0.875);
        --checkbox-indicator-size: calc(9px * var(--scaling));
        border-radius: calc(var(--radius-1) * 0.875);
    }
    &:where(.size-2) .ag-CheckboxIndicator {
        --checkbox-size: var(--space-4);
        --checkbox-indicator-size: calc(10px * var(--scaling));
        border-radius: var(--radius-1);
    }
    &:where(.size-3) .ag-CheckboxIndicator {
        --checkbox-size: calc(var(--space-4) * 1.25);
        --checkbox-indicator-size: calc(12px * var(--scaling));
        border-radius: calc(var(--radius-1) * 1.25);
    }
}
