@use "../@radix-ui/colors/iris";
@use "../@radix-ui/colors/iris-dark";
@use "../@radix-ui/colors/iris-alpha";
@use "../@radix-ui/colors/iris-dark-alpha";

:root {
    --iris-9-contrast: white;
}

:root,
.light,
.light-theme {
    --iris-surface: #f6f6ffcc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --iris-surface: color(display-p3 0.9647 0.9647 0.9961 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --iris-surface: #1d1b3980;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --iris-surface: color(display-p3 0.1098 0.102 0.2118 / 0.5);
            }
        }
    }
}
