@use "../@radix-ui/colors/lime";
@use "../@radix-ui/colors/lime-dark";
@use "../@radix-ui/colors/lime-alpha";
@use "../@radix-ui/colors/lime-dark-alpha";

:root {
    --lime-9-contrast: #1d211c; /* light mode olive 12 */
}

:root,
.light,
.light-theme {
    --lime-surface: #f6f9f0cc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --lime-surface: color(display-p3 0.9725 0.9765 0.9412 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --lime-surface: #1b211580;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --lime-surface: color(display-p3 0.1098 0.1255 0.0784 / 0.5);
            }
        }
    }
}
