@use "../@radix-ui/colors/green";
@use "../@radix-ui/colors/green-dark";
@use "../@radix-ui/colors/green-alpha";
@use "../@radix-ui/colors/green-dark-alpha";

:root {
    --green-9-contrast: white;
}

:root,
.light,
.light-theme {
    --green-surface: #f1faf4cc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --green-surface: color(display-p3 0.9569 0.9804 0.9608 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --green-surface: #15251d80;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --green-surface: color(display-p3 0.0941 0.1412 0.1098 / 0.5);
            }
        }
    }
}
