@use "../@radix-ui/colors/gold";
@use "../@radix-ui/colors/gold-dark";
@use "../@radix-ui/colors/gold-alpha";
@use "../@radix-ui/colors/gold-dark-alpha";

:root {
    --gold-9-contrast: white;
}

:root,
.light,
.light-theme {
    --gold-surface: #f9f8efcc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --gold-surface: color(display-p3 0.9765 0.9725 0.9412 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --gold-surface: #25231d80;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --gold-surface: color(display-p3 0.1412 0.1333 0.1098 / 0.5);
            }
        }
    }
}
