@use "../@radix-ui/colors/grass";
@use "../@radix-ui/colors/grass-dark";
@use "../@radix-ui/colors/grass-alpha";
@use "../@radix-ui/colors/grass-dark-alpha";

:root {
    --grass-9-contrast: white;
}

:root,
.light,
.light-theme {
    --grass-surface: #f3faf3cc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --grass-surface: color(display-p3 0.9569 0.9804 0.9569 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --grass-surface: #19231b80;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --grass-surface: color(display-p3 0.102 0.1333 0.102 / 0.5);
            }
        }
    }
}
