@use "../@radix-ui/colors/crimson";
@use "../@radix-ui/colors/crimson-dark";
@use "../@radix-ui/colors/crimson-alpha";
@use "../@radix-ui/colors/crimson-dark-alpha";

:root {
    --crimson-9-contrast: white;
}

:root,
.light,
.light-theme {
    --crimson-surface: #fef5f8cc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --crimson-surface: color(display-p3 0.9922 0.9608 0.9725 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --crimson-surface: #2f151f80;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --crimson-surface: color(display-p3 0.1647 0.0863 0.1176 / 0.5);
            }
        }
    }
}
