@use "../@radix-ui/colors/jade";
@use "../@radix-ui/colors/jade-dark";
@use "../@radix-ui/colors/jade-alpha";
@use "../@radix-ui/colors/jade-dark-alpha";

:root {
    --jade-9-contrast: white;
}

:root,
.light,
.light-theme {
    --jade-surface: #f1faf5cc;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --jade-surface: color(display-p3 0.9529 0.9804 0.9608 / 0.8);
            }
        }
    }
}

.dark,
.dark-theme {
    --jade-surface: #13271f80;

    @supports (color: color(display-p3 1 1 1)) {
        @media (color-gamut: p3) {
            & {
                --jade-surface: color(display-p3 0.0863 0.149 0.1176 / 0.5);
            }
        }
    }
}
